<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJGq2Hw6GvR0FSg77f3W5l8OWOaiPMO_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>299461861536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dihub</string>
	<key>PROJECT_ID</key>
	<string>dihub-b0a16</string>
	<key>STORAGE_BUCKET</key>
	<string>dihub-b0a16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299461861536:ios:3a0d3bdf5e7a1f84c0e9c5</string>
</dict>
</plist>